---
import Layout from "../layouts/Layout.astro"
---

<Layout>



<div class="nav_btns">
  <a href="https://dankort.dk/oremaerket" class="nav-link active">Knap 1</a>
  <a href="https://dankort.dk/oremaerket" class="nav-link">Knap 2</a>
  <a href="https://dankort.dk/oremaerket" class="nav-link">Knap 3</a>
</div>




</Layout>


<style>
/*   CSS - MOBILE FIRST */

.nav_btns {
  top: 0;
  position: sticky;
  z-index: 999;

  display: flex;
  justify-content: center;
  gap: 10px;


}


.nav-link  {
background-color: #b4b4b4;
color: black;

/* font-family: var */
text-decoration: none;

backdrop-filter: blur(90px);  
transition: 0.3s ease;

padding: 15px 30px 15px 30px;
border-radius: 25px;
margin: 10px;

}

.nav-link:hover {
 background: #ebebeb;
 cursor: pointer;
}


/* Active state – skal sættes på den side, man er på */
.nav-link.active {
  background: #4a4a4a;
  color: white;
}



/* CSS DESKTOP */

@media (min-width: 1024px) { 

    .nav_btns {  
  gap: 50px;

    }

    



}


</style>