---
import "../css/custom.css";
---

<div class="nav_btns">
  <a href="/" class="nav-link">Vores koncept</a>
  <a href="/detail" class="nav-link active">Udforsk områderne</a>
  <a href="/stepbystep" class="nav-link">Dankort i 3 trin</a>
</div>



<style>
  /* MOBILE FIRST */
    
   .nav_btns {
    top: 0;
    position: sticky;
    z-index: 999;
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  
  .nav-link {
    background-color: var(--grey);
    color: var(--black);
    
    text-decoration: none;
    backdrop-filter: blur(90px);

    font-size: var(--btn-mobile);
    transition: 0.3s ease;
    padding: 15px 30px;
    border-radius: 25px;
    margin: 10px;
  }



  /* DESKTOP 1024PX */

  @media (min-width: 1024px) {
    .nav_btns {
      gap: 50px;
    }

/* 
  .nav-link {

    font-size: 14px;
    padding: 15px 30px;
    border-radius: 25px;
    margin: 10px;
  } */

  .nav-link:hover {
    background: #ebebeb;
    cursor: pointer;
  }

  .nav-link.active {
    background: #4a4a4a;
    color: white;
  }
  }
</style>