* {
  /* colors */
  --red: #e21e27;
  --white: #ffffff;
  --black: #1e1e1e;
  --darkest-grey: #4a4a4a;
  --dark-grey: #6a6a6a;
  --grey: #b4b4b4;
  --light-grey: #d9d9d9;
  --lightest-grey: #ebebeb;
  --header-grey: rgb(227, 227, 227, 0.8);

  --yellow: #ffd998;
  --light-yellow: #ffe8b6;
  --green: #81d979;
  --light-green: #a1eaac;
  --blue: #3bb7ea;
  --light-blue: #90d9f8;

  /* font */
  --h1-mobil: 16px;
  --h2-mobil: 14px;
  --p-mobil: 12px;
  --button-mobil: 12px;

  --h1: 32px;
  --h2: 24px;
  --p: 16px;
  --button: 20px;

  --title-weight: 600;

  @font-face {
    font-family: raleway;
    src: url(../public/fonts/Raleway-VariableFont_wght.ttf);
  }
}
